<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://balaweb032005.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>balaWeb032005</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$balaWeb032005</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BlogAppModel.BlogContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:yh5qu8jxjv.database.windows.net,1433;Initial Catalog=balaWeb032005986;User ID=balaDbAdmin@yh5qu8jxjv;Password=ASP+Rocks4U" Name="Data Source=tcp:yh5qu8jxjv.database.windows.net,1433;Initial Catalog=balaWeb032005986;User Id=balaDbAdmin@yh5qu8jxjv;Password=ASP+Rocks4U" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BlogAppModel.BlogContext, BlogAppModel" MigrationConfiguration="BlogAppModel.Migrations.Configuration, BlogAppModel" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BlogAppModel.BlogContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:yh5qu8jxjv.database.windows.net,1433;Initial Catalog=balaWeb032005986;User Id=balaDbAdmin@yh5qu8jxjv;Password=ASP+Rocks4U</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>